.login-form-button {
    color: black;
    background-color: wheat;
    width: 100%
  }

.title {
    font-size: 25px;
    text-align: center;
}
.button {
  display: flex;
  flex-direction: row;
}
.login-form {
  width: 460px;
  justify-content: center;
  margin: auto;
  
}
.div.ant-col.form-wrapped {
  justify-content: center;
}