.space-admin {
    display: flex;
    justify-content: space-evenly;
    height: 100px; 
    margin-top: 200px;
}
.item {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.item > h1 {
    margin: auto;
}

.btn-admin {
    width: 100%;
    font-size: larger;
    height: max-content;
    margin-bottom: 30px;
    color: rgb(254, 254, 255);
    background-color: rgb(134, 118, 89);

}