.space-admin {
    display: block;
    height: 300px;    
    padding-top: 30px;
}

.btn-admin {
    width: 100%;
    font-size: larger;
    height: max-content;
    margin-bottom: 30px;
    color: rgb(254, 254, 255);
    background-color: rgb(134, 118, 89);

}